
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/src/main/resources/static/style.css">
    <script src="script.js" defer></script>
</head>
<body>
    <h1>Hi</h1>

    <div id="livreContenu"></div>
    <!-- to create button with click event to show the info which will link to the info of membre -->
     <div id="membreContenu"></div>
</body>
</html>